@import './mixin.styl'

.page
  padding pr(20)
  font: pr(14) 'Avenir', Helvetica, Arial, sans-serif
  color: #1e2022
  background: #f0f5f9
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  flex-flow: column
  position: relative
  // border-bottom 2px solid black
  .title
    position: relative
    top: 0
    line-height: pr(30)
    margin-bottom pr(50)
    top: pr(10)
    font-weight: 900
    font-size: pr(20)

@media screen and (max-width: 500px)
  .page
    font: pr(20) 'Avenir', Helvetica, Arial, sans-serif
    font-weight: 900
    padding-bottom 40px
    justify-content: center

.icon
  width: pr(30)
  height: pr(30)
  vertical-align: pr(-0.5)
  fill: currentColor
  overflow: hidden

.up
  visibility: visible
  animation upfrombottom 0.7s ease-out both
@keyframes upfrombottom 
  0%
    transform: translateY(50%);
    opacity 0
  100%
    transform: translateY(0);
    opacity 1
