@font-face {
  font-family: 'index-menu';
  src:  url('../fonts/index-menu.eot?8zlsg3');
  src:  url('../fonts/index-menu.eot?8zlsg3#iefix') format('embedded-opentype'),
    url('../fonts/index-menu.ttf?8zlsg3') format('truetype'),
    url('../fonts/index-menu.woff?8zlsg3') format('woff'),
    url('../fonts/index-menu.svg?8zlsg3#index-menu') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'index-menu' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\e902";
}
.icon-Down:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-github:before {
  content: "\e903";
}
.icon-jishu:before {
  content: "\e904";
}
.icon-xiangmu:before {
  content: "\e905";
}
.icon-zhuye:before {
  content: "\e906";
}
